.header {
  height: 70px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
